.cta {
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  padding: 0.75rem;
  font-family: monospace;
  font-size: 0.875rem;
  line-height: 1;
  color: var(--jahia-neutral-700);
  text-align: left;
  text-transform: uppercase;
  text-wrap: balance;
  text-decoration: inherit;
  background: var(--jahia-blue);
  border: 1px solid var(--jahia-blue);
  border-radius: 0.25rem;

  .line {
    width: 1px;
    height: 1em;
    background: var(--jahia-neutral-700);
    opacity: 0.25;
    transition: transform var(--jahia-motion-timing);
  }

  &:hover .line,
  &:focus-visible .line {
    transform: scaleY(calc(40 / 14));
  }

  &[data-variant="secondary"] {
    color: inherit;
    background: transparent;
    border: 1px solid var(--jahia-neutral-600);

    .line {
      background: var(--jahia-neutral-600);
      opacity: 1;
      transform: scaleY(calc(40 / 14)); /* Fill the height of the button */
    }

    &:hover .line,
    &:focus-visible .line {
      transform: none;
    }
  }
}
