@import url("./richtext.css");
@import url("./forms.css");

* {
  max-width: 100%;
  margin-block: 0;
  scroll-margin-block-start: 4rem; /* For #anchor links, scroll past the navbar */
}

:root {
  contain: paint;
  scrollbar-color: var(--jahia-neutral-300) var(--jahia-neutral-50);
  background: var(--jahia-navy-blue);
}

body {
  font-weight: 300;
  line-height: 1.5;
}

:where(a) {
  color: var(--jahia-primary-color);
  text-decoration: none;

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

img {
  height: auto;
  vertical-align: bottom; /* Avoid that annoying 2px shift */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans Variable", system-ui, sans-serif;
  font-weight: 500;
  color: var(--jahia-title-color);
  text-wrap: balance;
}

h1 {
  font-size: 3em;
  line-height: 1.25;
}

h2 {
  font-size: 2em;
  line-height: 1.25;
}

h3 {
  font-size: 1.5em;
  line-height: 1.25;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
}

strong,
th {
  font-weight: 600;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--jahia-inner-border);
}

[hidden] {
  display: none !important;
}
