* {
  max-width: 100%;
  margin-block: 0;
  scroll-margin-block-start: 4rem; /* For #anchor links, scroll past the navbar */
}

:root {
  contain: paint;
  scrollbar-color: var(--jahia-neutral-300) var(--jahia-neutral-50);
  background: var(--jahia-navy-blue);
}

body {
  font-weight: 300;
  line-height: 1.5;
}

:where(a) {
  color: #06a;
}

img {
  height: auto;
  vertical-align: bottom; /* Avoid that annoying 2px shift */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans Variable", system-ui, sans-serif;
  font-weight: 500;
  color: var(--jahia-title-color);
  text-wrap: balance;
}

h1 {
  font-size: 3em;
  line-height: 1.25;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
}

strong {
  font-weight: 600;
  color: var(--jahia-title-color);
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid var(--jahia-inner-border);
}

._richtext > * + * {
  margin-block-start: 1rem;
}

._richtext blockquote > * + * {
  margin-block-start: 0.5rem;
}

._richtext li + li {
  margin-block-start: 0.25rem;
}

._richtext li::marker {
  /* Fancy ✓ SVG */
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' width='1em' viewBox='0 0 20 14'%3E%3Cpath stroke='%2300a1e3' stroke-width='2' stroke-linecap='square' d='M1.5 7.5L6 12H8L18.5 1.5'/%3E%3C/svg%3E")
    "  ";
}

[data-theme="night"] ._richtext li::marker {
  content: url("data:image/svg+xml,%3Csvg width='1em' viewBox='0 0 20 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='10' y='3' width='8' height='8' rx='4' fill='%2300a1e3'/%3E%3Crect x='1' y='2' width='18' height='10' rx='5' stroke='white'/%3E%3C/svg%3E")
    "  ";
}

._richtext blockquote {
  margin-inline: 1rem;
  overflow: hidden;

  &::before,
  &::after {
    display: block;
    height: 1.5rem;
    margin-block: 0.5rem;
    content: "";
    background: var(--jahia-icon-color);
  }

  &::before {
    /* Quote icon from https://iconmonstr.com/?s=quote */
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M14.017 21v-7.391c0-5.704 3.731-9.57 8.983-10.609l.995 2.151c-2.432.917-3.995 3.638-3.995 5.849h4v10h-9.983zm-14.017 0v-7.391c0-5.704 3.748-9.57 9-10.609l.996 2.151c-2.433.917-3.996 3.638-3.996 5.849h3.983v10h-9.983z'/%3E%3C/svg%3E")
      left/contain no-repeat;
  }

  &::after {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M9.983 3v7.391c0 5.704-3.731 9.57-8.983 10.609l-.995-2.151c2.432-.917 3.995-3.638 3.995-5.849h-4v-10h9.983zm14.017 0v7.391c0 5.704-3.748 9.571-9 10.609l-.996-2.151c2.433-.917 3.996-3.638 3.996-5.849h-3.983v-10h9.983z'/%3E%3C/svg%3E")
      right/contain no-repeat;
  }
}
