* {
  max-width: 100%;
  margin-block: 0;
}

body {
  line-height: 1.5;
  background: var(--jahia-navy-blue);
}

a {
  color: #06a;
}

img {
  height: auto;
  vertical-align: bottom; /* Avoid that annoying 2px shift */
}
