.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 1rem;
  max-width: var(--jahia-width);
  margin-inline: auto;

  &[data-width="75"] {
    max-width: calc(var(--jahia-width) * 0.75);
  }

  &[data-width="50"] {
    max-width: calc(var(--jahia-width) * 0.5);
  }

  &[data-gap="2"] {
    gap: 2rem;
  }

  @screen sm {
    &[data-columns="50-50"] {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &[data-columns="67-33"] {
      grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    }

    &[data-columns="33-67"] {
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }

    &[data-columns="33-33-33"] {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &[data-columns="25-25-25-25"] {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    &[data-columns="irregular-3-2"] {
      grid-template-columns: repeat(2, 1fr);

      > :nth-child(3n + 1) {
        grid-column: span 2;
      }
    }
  }

  @screen md {
    &[data-columns="irregular-3-2"] {
      grid-template-columns: repeat(6, 1fr);

      > * {
        grid-column: span 2;
      }

      > :nth-child(5n + 1),
      > :nth-child(5n + 2) {
        grid-column: span 3;
      }
    }
  }
}
