.container {
  composes: container from "../../theme/theme.module.css";
}

.header {
  composes: header from "../../theme/theme.module.css";
}

.wrapper {
  max-width: var(--jahia-width);
  margin-inline: auto;
  container-type: inline-size;

  &[data-width="75"] {
    max-width: calc(var(--jahia-width) * 0.75);
  }

  &[data-width="50"] {
    max-width: calc(var(--jahia-width) * 0.5);
  }
}

.grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);

  /* If there are no children, do not render the grid to prevent the double gap */
  &:empty {
    display: none;
  }

  &[data-gap="0"] {
    @apply _cut-both;

    /* In this mode, we create a compact, bordered grid, faking a border using gap */
    gap: 1px;
    background-color: var(--jahia-inner-border);
    border: 1px solid var(--jahia-inner-border);
  }

  &[data-gap="1"] {
    gap: 1rem;
  }

  &[data-gap="2"] {
    gap: 2rem;
  }

  @container (width >= 600px) {
    &[data-columns="50-50"] {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &[data-columns="67-33"] {
      grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    }

    &[data-columns="33-67"] {
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }

    &[data-columns="irregular-67-33"] {
      grid-template-columns: repeat(3, minmax(0, 1fr));

      /* React inserts <link> elements when a component contains an image, skip them */
      > :nth-child(4n of :not(link)),
      > :nth-child(4n + 1 of :not(link)) {
        grid-column: span 2;
      }
    }

    &[data-columns="33-33-33"] {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    &[data-columns="25-25-25-25"] {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &[data-columns="irregular-1-2"] {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      > :nth-child(3n + 1 of :not(link)) {
        grid-column: span 2;
      }
    }

    &[data-columns="irregular-3-2"] {
      grid-template-columns: repeat(2, 1fr);

      > :nth-child(3n + 1 of :not(link)) {
        grid-column: span 2;
      }
    }
  }

  @container (width >= 800px) {
    &[data-columns="irregular-3-2"] {
      grid-template-columns: repeat(6, 1fr);

      > * {
        grid-column: span 2;
      }

      > :nth-child(5n + 1 of :not(link)),
      > :nth-child(5n + 2 of :not(link)) {
        grid-column: span 3;
      }
    }
  }

  @container (width >= 1000px) {
    &[data-columns="25-25-25-25"] {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
