.article {
  composes: container from "../../theme/theme.module.css";
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  align-items: center;
}

.card {
  @apply _stack-4;

  composes: item from "../../theme/theme.module.css";
  padding: 1rem;
}
