.container {
  container-type: inline-size;
}

.panel {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 0 1rem;
  height: 100%;
}

.light {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 1rem 4rem;
  height: 100%;
}

.bordered {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
}

.borderless {
  /* Borderless is really just a bordered panel without borders */
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  background: var(--jahia-container-background);
}

.text {
  @apply _stack-4;

  composes: item from "../../theme/theme.module.css";
  padding: 1.5rem;
}

.borderedText {
  @apply _stack-4;

  composes: item from "../../theme/theme.module.css";
  justify-content: center;
  padding: 1.5rem;
  border-block-start: 0;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background: var(--jahia-inner-border);
}

.lightImage,
.borderedImage {
  align-self: center;
  aspect-ratio: 1;
  object-fit: cover;
}

.borderedImage {
  /* If the text is taller than the image, we want the image to stretch */
  align-self: stretch;
}

@container (width < 600px) {
  .borderedText {
    @apply _cut-after;
  }

  .image,
  .lightImage {
    @apply _cut-before;
  }

  .text {
    @apply _cut-after;
  }

  /* In vertical layout, make the rich text fill the available space */
  .light :global(._richtext),
  .bordered :global(._richtext) {
    flex: 1;
  }
}

@container (width >= 600px) {
  .light,
  .bordered {
    /* Make side-by-side panels fill the same height */
    grid-template-rows: 1fr;
  }

  .right {
    grid-template-columns: 3fr minmax(16rem, 2fr);
  }

  .left {
    grid-template-columns: minmax(16rem, 2fr) 3fr;
  }

  .right .text,
  .right .borderedText {
    @apply _cut-before;
  }

  .left .text,
  .left .borderedText {
    @apply _cut-after;
  }

  .left .borderedText {
    border-block-start: 1px solid var(--jahia-border);
    border-inline-start: 0;
  }

  .right .borderedText {
    border-block-start: 1px solid var(--jahia-border);
    border-inline-end: 0;
  }

  .left .image,
  .left .lightImage {
    @apply _cut-before;
  }

  .right .image,
  .right .lightImage {
    @apply _cut-after;

    order: 1;
  }

  .right .borderedImage {
    order: 1;
  }
}
