.container {
  container-type: inline-size;
}

.panel {
  display: grid;
  gap: 0 1rem;
}

.light {
  display: grid;
  gap: 1rem 4rem;
}

.text {
  @apply _stack-4;

  composes: item from "../../theme/theme.module.css";
  padding: 1.5rem;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background: var(--jahia-inner-border);
}

.lightImage {
  align-self: center;
  aspect-ratio: 1;
  object-fit: cover;
}

@container (width < 600px) {
  .image,
  .lightImage {
    @apply _cut-before;
  }

  .text {
    @apply _cut-after;
  }
}

@container (width >= 600px) {
  .right {
    grid-template-columns: 3fr minmax(16rem, 2fr);
  }

  .left {
    grid-template-columns: minmax(16rem, 2fr) 3fr;
  }

  .right .text {
    @apply _cut-before;
  }

  .left .text {
    @apply _cut-after;
  }

  .left .image,
  .left .lightImage {
    @apply _cut-before;
  }

  .right .image,
  .right .lightImage {
    @apply _cut-after;

    order: 1;
  }
}
