.container {
  contain: paint;
  container-type: inline-size;
}

.grid {
  @apply _cut-after;

  composes: item from "../../theme/theme.module.css";
  display: grid;
}

.tabs {
  @apply _pack-1;

  padding: 0.25rem;
  overflow: auto;

  label {
    @apply _pack-2;

    flex-shrink: 0;
    padding: 0.5rem 0.75rem;
    contain: paint;
    font-size: 0.875em;
    text-transform: uppercase;
    background: var(--jahia-neutral-100);
    transition:
      background 0.3s,
      border-color 0.3s;

    &:hover {
      background: var(--jahia-neutral-200);
    }

    &:has(input:focus-visible) {
      outline: 2px solid var(--jahia-a11y-blue);
    }

    &:has(input:checked) {
      color: var(--jahia-neutral-50);
      background: var(--jahia-a11y-blue);
    }
  }

  input {
    position: absolute;
    opacity: 0;
  }
}

.panel {
  @apply _stack-2;

  padding: 1rem;
  overflow: auto;

  pre {
    padding: 1rem;
    overflow: auto;
    font-size: 0.875em;
    background: var(--jahia-neutral-100);
  }

  pre:last-child {
    --jahia-cut: 1.414rem; /* sqrt(parent --jahia-cut) */

    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - var(--jahia-cut)),
      calc(100% - var(--jahia-cut)) 100%,
      0 100%
    );
  }
}
