/* Used by default.server.tsx */
.section {
  max-inline-size: 1000px;
  padding: 1rem;
  margin-inline: auto;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  margin-block: 1rem;

  h2 {
    margin: 0;
    font-size: 2rem;
  }

  mark {
    padding: 0.1rem;
    background: linear-gradient(90deg in hsl, #a0ffff88, #d1a2ff88) bottom left / 100% 50% no-repeat;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
}

.attribution {
  margin-block-end: 2rem;
  font-size: 0.8em;
  color: #666;
}

.hint {
  display: inline-flex;
  gap: 0.5rem;
  font-size: 0.8em;
  line-height: 1;
  user-select: none;
  opacity: 0.5;
  transition: opacity 150ms;

  &:hover {
    opacity: 1;
  }
}

/* Used by Celebrate.client.tsx */
.button {
  display: block;
  padding: 1rem;
  margin-inline: auto;
  overflow: hidden;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(90deg in oklch, #a0ffff, #d1a2ff) #ccc;
  border: none;
  border-radius: 99px;
  box-shadow: 0 0 0.25rem 0 #2442;
  filter: grayscale(100%);
  transition:
    filter 500ms,
    transform 150ms,
    box-shadow 150ms;

  &:hover,
  &:focus {
    box-shadow: 0 0.25rem 1rem 0 #4884;
    transform: scale(1.1);
  }
}

.before {
  display: inline-block;
  transition:
    transform 300ms,
    opacity 300ms;
}

.after {
  position: absolute;
  right: 0;
  left: 0;
  opacity: 0;
  transform: translateY(150%);
  transition:
    transform 300ms,
    opacity 300ms;
}

.hydrated {
  filter: none;

  .before {
    opacity: 0;
    transform: translateY(-150%);
  }

  .after {
    opacity: 1;
    transform: translateY(0);
  }
}
