.hero {
  composes: container from "../../theme/theme.module.css";
}

.header {
  composes: header from "../../theme/theme.module.css";
}

.grid {
  display: grid;
  grid-template: 1fr / auto;

  @screen md {
    grid-template: 1fr / 1fr 1fr;
  }
}

.wrapper {
  @apply _cut-before _stack-8;

  composes: item from "../../theme/theme.module.css";
  padding: 2rem;
  border-block-end: 0;

  @screen md {
    border-block-end: 1px solid var(--jahia-border);
    border-inline-end: 0;
  }
}

.image {
  width: 100%;
  object-fit: cover;
  background-color: var(--jahia-border);
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--jahia-cut)),
    calc(100% - var(--jahia-cut)) 100%,
    0 100%
  );

  /* On side-by-side view, nuke the native aspect-ratio of the image to fit the container. */
  @screen md {
    height: 0;
    min-height: 100%;
  }
}
