.hero {
  composes: container from "../../theme/theme.module.css";
}

.header {
  composes: header from "../../theme/theme.module.css";
}

.grid {
  display: grid;
  grid-template: 1fr / auto;
  gap: 1rem;
  align-items: center;

  @screen md {
    grid-template: 1fr / 1fr 1fr;
  }
}
