.nav {
  position: sticky;
  inset-block-start: 0;
  z-index: 1;
  padding: 0.5rem;
  color: var(--jahia-color);
  background-color: color-mix(in srgb, var(--jahia-container-background) 75%, transparent);
  backdrop-filter: blur(0.5rem);
  transition: background var(--jahia-timing);

  &[data-open="true"] {
    background-color: var(--jahia-container-background);
  }
}

.link {
  color: inherit;
  text-decoration: inherit;
}

.barLink {
  @apply _pack-2;

  padding: 0.5rem;
  color: inherit;
  text-decoration: inherit;
}

.link[aria-current] {
  font-weight: bold;
}

.menuButton {
  display: inline-flex;
  align-items: center;
  padding: calc(0.75rem - 1px);
  color: var(--jahia-blue);
  background: transparent;
  border: 1px solid var(--jahia-border);
  border-radius: 0.25rem;

  @screen md {
    display: none;
  }
}

.mobileMenu {
  position: fixed;
  inset-inline: 0;
  padding: 0.5rem;

  /* Fading the color to avoid the compression effect of scaleY(0) */
  color: transparent;

  /* Copy properties of the nav to make the transition smoother */
  background-color: color-mix(in srgb, var(--jahia-container-background) 75%, transparent);
  backdrop-filter: blur(0.5rem);
  transform: translateY(0.5rem) /* The menu needs to be placed outside the padding of the nav */
    scaleY(0);
  transform-origin: top;
  transition:
    transform var(--jahia-motion-timing),
    color var(--jahia-timing),
    background-color var(--jahia-timing);

  [data-open="true"] & {
    color: inherit;
    background: var(--jahia-container-background);
    transform: translateY(0.5rem) scaleY(1);
  }

  @screen md {
    display: none;
  }
}

.desktopMenu {
  display: none;

  @screen md {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 1rem;
    color: var(--jahia-neutral-700);
    background: var(--jahia-neutral-50);
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 1rem color-mix(in srgb, var(--jahia-neutral-700) 25%, transparent);
    opacity: 0;
    transition: opacity var(--jahia-timing);

    [data-open="true"] & {
      opacity: 1;
    }
  }

  > ul {
    padding: 0;
    list-style: none;
  }
}

.submenu {
  > ul {
    height: 0;
    padding-inline-start: 1rem;
    contain: paint;
    list-style: none;
    opacity: 0;
    transform: translateY(-1rem);
    transition:
      transform var(--jahia-motion-timing),
      opacity var(--jahia-timing);
  }

  &[data-open="true"] > ul {
    height: auto;
    opacity: 1;
    transform: translateY(0);
  }
}

.submenuLabel {
  @apply _pack-0;

  width: 100%;
  padding: 0;
  color: inherit;
  text-align: start;
  background: transparent;
  border: transparent;

  > :first-child {
    flex: 1;
    padding: 0.5rem;
    border-inline-end: 1px solid var(--jahia-border);
  }

  > :last-child {
    margin: 0.5rem;
    margin-inline-start: 0.75rem;
  }
}

.desktop {
  display: none;

  @screen md {
    display: flex;
  }
}
