.nav {
  position: sticky;
  inset-block-start: 0;
  background-color: color-mix(in srgb, var(--jahia-background) 75%, transparent);
  z-index: 1;
  backdrop-filter: blur(0.5rem);
  color: var(--jahia-color);
  transition: background 150ms ease-out;

  &[data-open="true"] {
    background-color: var(--jahia-background);
  }
}

.bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.link {
  color: inherit;
  text-decoration: inherit;
}

.link[aria-current] {
  font-weight: bold;
}

.cta {
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  background: var(--jahia-blue);
  color: var(--jahia-neutral-700);
  padding: 0.75rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 0.875rem;
  line-height: 1;
  text-decoration: inherit;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--jahia-blue);
  text-align: center;
}

.menuButton {
  border: 1px solid var(--jahia-border);
  display: inline-flex;
  border-radius: 0.25rem;
  background: transparent;
  color: var(--jahia-blue);
  padding: calc(0.75rem - 1px);
  align-items: center;
}

.menu {
  position: fixed;
  width: 100%;
  padding: 0.5rem;
  background: var(--jahia-background);
  color: transparent; /* Fading the color makes the transition smoother */
  transform: scaleY(0);
  transform-origin: top;
  transition:
    transform 150ms ease-out,
    color 150ms ease-out;

  [data-open="true"] & {
    transform: scaleY(1);
    color: inherit;
  }
}

.submenu {
  > ul {
    display: none;
    list-style: none;
    padding-inline-start: 1rem;
  }

  &[data-open="true"] > ul {
    display: block;
  }
}

.submenuLabel {
  display: flex;
  align-items: center;

  > a {
    flex: 1;
    padding: 0.5rem;
  }

  > button {
    padding: 0.5rem;
    background: transparent;
    border: transparent;
    color: inherit;
    padding-inline-start: 0.75rem;
    border-inline-start: 1px solid var(--jahia-border);
  }
}

.cta2 {
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  background: var(--jahia-navy-blue);
  color: var(--jahia-neutral-50);
  padding: 0.75rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 0.875rem;
  line-height: 1;
  text-decoration: inherit;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--jahia-neutral-600);
  text-align: center;
}

.cta2Line {
  width: 1px;
  height: 1em;
  background: var(--jahia-neutral-600);
  transform: scaleY(calc(40 / 14)); /* Fill the height of the button */
}
