.nav {
  position: sticky;
  inset-block-start: 0;
  padding: 0.5rem;
  background-color: color-mix(in srgb, var(--jahia-background) 75%, transparent);
  z-index: 1;
  backdrop-filter: blur(0.5rem);
  color: var(--jahia-color);
  transition: background 150ms ease-out;

  &[data-open="true"] {
    background-color: var(--jahia-background);
  }
}

.link {
  color: inherit;
  text-decoration: inherit;
}

.barLink {
  @apply _pack-2;
  padding: 0.5rem;
  color: inherit;
  text-decoration: inherit;
}

.link[aria-current] {
  font-weight: bold;
}

.cta {
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  background: var(--jahia-blue);
  color: var(--jahia-neutral-700);
  padding: 0.75rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 0.875rem;
  line-height: 1;
  text-decoration: inherit;
  border: 1px solid var(--jahia-blue);
  text-align: center;
}

.menuButton {
  border: 1px solid var(--jahia-border);
  display: inline-flex;
  border-radius: 0.25rem;
  background: transparent;
  color: var(--jahia-blue);
  padding: calc(0.75rem - 1px);
  align-items: center;

  @screen md {
    display: none;
  }
}

.mobileMenu {
  position: fixed;
  inset-inline: 0;
  padding: 0.5rem;
  /* Copy properties of the nav to make the transition smoother */
  background-color: color-mix(in srgb, var(--jahia-background) 75%, transparent);
  backdrop-filter: blur(0.5rem);
  color: transparent; /* Fading the color to avoid the compression effect of scaleY(0) */
  transform: translateY(0.5rem) /* The menu needs to be placed outside the padding of the nav */
    scaleY(0);
  transform-origin: top;
  transition:
    transform 150ms ease-out,
    color 150ms ease-out,
    background-color 150ms ease-out;

  [data-open="true"] & {
    background: var(--jahia-background);
    transform: translateY(0.5rem) scaleY(1);
    color: inherit;
  }

  @screen md {
    display: none;
  }
}

.desktopMenu {
  display: none;

  @screen md {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: var(--jahia-neutral-50);
    padding: 1rem;
    box-shadow: 0 0.25rem 1rem color-mix(in srgb, var(--jahia-neutral-700) 25%, transparent);
    color: var(--jahia-neutral-700);
    border-radius: 0.25rem;
    opacity: 0;
    transition: opacity 150ms ease-out;

    [data-open="true"] & {
      opacity: 1;
    }
  }

  > ul {
    list-style: none;
    padding: 0;
  }
}

.submenu {
  > ul {
    height: 0;
    contain: paint;
    list-style: none;
    padding-inline-start: 1rem;
    transform: translateY(-1rem);
    opacity: 0;
    transition:
      transform 150ms ease-out,
      opacity 150ms ease-out;
  }

  &[data-open="true"] > ul {
    height: auto;
    transform: translateY(0);
    opacity: 1;
  }
}

.submenuLabel {
  @apply _pack-0;

  > a {
    flex: 1;
    padding: 0.5rem;
  }

  > button {
    padding: 0.5rem;
    background: transparent;
    border: transparent;
    color: inherit;
    padding-inline-start: 0.75rem;
    border-inline-start: 1px solid var(--jahia-border);
  }
}

.cta2 {
  display: inline-flex;
  gap: 0.75rem;
  align-items: center;
  color: inherit;
  padding: 0.75rem;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-family: monospace;
  font-size: 0.875rem;
  line-height: 1;
  text-decoration: inherit;
  border: 1px solid var(--jahia-neutral-600);
  text-align: center;
}

.cta2Line {
  width: 1px;
  height: 1em;
  background: var(--jahia-neutral-600);
  transform: scaleY(calc(40 / 14)); /* Fill the height of the button */
}

.desktop {
  display: none;

  @screen md {
    display: flex;
  }
}
